html {
  scroll-behavior: smooth;
}
body{
  font-family: 'Corben', cursive;
  background-color: #ebd5cf;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0;
  padding: 0;
  font-size: 16pt;
}
/*#mysidebar{
  display: none;
}*/
main{
  margin-bottom: 100px;
}
.skip a{
  background: white;
  left: 0;
  padding: 6px;
  position: absolute;
  top: -50px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
  width: 100%;
}
.skip a:focus{
	top: 0px;
  }

h1{
  color: #76323F;
  font-size: 30px;
  text-align: center;
  line-height: 2;
  animation-name: zoomin;
  animation-duration: 2s;
  margin-bottom: 20px;
  margin-top: 10px;
  }
footer{
  color: white;
  font-size: 14px;
  text-align: center;
  background-color: #485a5ac4  ;
  width:100%;
  min-height: 55px;
  padding: 10px;
  position: fixed;
  bottom: 0;
  left: 0;
}

  @keyframes fadeIn {
    0% { opacity: 0; }
    20% { opacity: 0; }
    40% { opacity: 0.3; }
    60% { opacity: 0.5; }
    80% { opacity: 0.9; }
    100% { opacity: 1; }
  }

main{
  animation-name: fadeIn;
  animation-duration: 3s; 
}
#home{
  color: #6b6769;
}
#home-p{
  color: #635858;
  padding: 0 30px;
}
#home h2{
  border: #ebebb6 3px groove;
  width: 40%;
  margin: 1.5em auto 0em;
}
#home-image-gallery div{
  display: grid;
  grid-gap: 20px;
  margin-top: 50px;
  margin-bottom: 100px;
  grid-template-columns: 60%;
  justify-content: center;
  align-items: center;
}
#home-image-gallery img{
  width: 100%;
  max-height: auto;
  filter: drop-shadow(10px 10px 5px rgb(243, 255, 192))
}

#home-image-gallery img:nth-child(2n+1){
  transform: rotate(5deg);
  /*border:5px dotted #c0eeb6;*/
}

#home-image-gallery img:nth-child(2n){
  transform: rotate(-5deg);
}
#home-image-gallery img:hover,#home-image-gallery img:focus{
  opacity: 0.5;
  border:5px dotted #c0eeb6
  ;
}
#home-image-gallery img:nth-child(2n):hover, #home-image-gallery img:nth-child(2n):focus{
  border:5px dotted #aadcec
  ;
}

#review-form{
  text-align: center;
  font-family: 'EB Garamond', serif;
  color: black;
}
textarea{
  width: 70%;
}

input ,textarea{
  background-color: #faf3de;
  font-family: 'EB Garamond', serif;
}
/*==============================================*/
/*stage 2*/


nav ul{
  padding-top: 10px;
  display: grid;
  justify-content: center;
  text-align: center;
  grid-template-columns: 30% 30% 30%;
  grid-template-rows: 50% 50%;
}


@keyframes slidein {
  from{
      position: relative;
      top: -600px;
  }
  to{
    position: relative;
      top: 0px;
  }
}
.sidebar{
  width:auto;
  background-color: #aa836b;
  animation-name: slidein;
  animation-duration: 3s; 
}

a{
  font-size: 14px;
  color: #3A1D03;
  text-align: center;
}

#active{
  background-color: burlywood;
  text-decoration: underline;
  text-decoration-style: wavy;
  border-radius: 5px;
}

.close{
  background-color: #FFFFCC;
  font-size: 20px;

}




/*==============================================*/

/*stage 3*/

#breed {
  color: #524039fd;
  font-family: Arvo, sans-serif;
  display: grid;
  font-size: 15px;
  justify-content: center;
  grid-template-rows: 0.1fr 0.5fr;
  row-gap: 30px;
  padding: 0px 50px 0px;
}
#breed>p{
  grid-row: 1;
}
#breed>div{
  grid-row: 2;
}

.dog_img {
  width: 100%;
  max-height: auto;
}
.dogs{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-evenly;
  align-items: baseline;
}

.dogs>div{
  background-color: #f1f1f1;
  border: 3px #935135 dotted 
  ;
}
/*==============================================*/

/*stage 4*/
#if{
  font-size: 15px;
  color: #524039fd;
  font-family: Arvo, sans-serif;
  padding: 10px 50px 10px;
  margin:  1.5em auto 0em;
}
#if>p {
  text-align: left;
  margin-bottom: 1.5em;
}
.if_a{
  font-weight: bolder;
}
.flip-card-list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px 30px;
  font-family: Arvo, sans-serif;
  justify-content: space-evenly;
  align-items: baseline;
}
/* Flip card on Interesting*/
/* Flip card on Interesting*/
.flip-card {
  background-color: transparent;
  border-radius: 30px;
  border: 3px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
  width: 400px;
  height: 270px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flip-card-inner {
  /* This container is
 needed to position the front and back side */
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: left;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card-front, .flip-card-back {
  /* Position the 
front and back side */
  
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}
h2{
  color: #76323F;
  font-size: 28px;
  text-align: center;
  line-height: 2;
  animation-name: zoomin;
  animation-duration: 2s;
  margin-bottom: 20px;
  margin-top: 10px;
  top:100%
}
/* Style the front 
side (fallback if image is missing) */
.flip-card-front {
  font-family: 'Corben', cursive;
  display: grid;
  grid-template-rows: 0.5fr 0.8fr 0.5fr;
  grid-template-columns: 1fr;
  justify-content: center;
  border-radius: 30px;
  background-color: #c5bcc0  ;
  color: #6b6769;
}
.flip-card-front>button{
  font-size: 13px;
  grid-row: 3;
  width: 80px;
  height: 60px;
  align-self: start;
  justify-self: center;
  border-radius: 30px;
  background-color: beige;
  border: 3px solid #f1f1f1;
}
.flip-card-front h2{
  grid-row: 2;
}


.flip-card-back{
  font-size: 15px;
  top: 10%;
  width: 85%;

  margin-left:10%;
  /* Style the back side */
  color: #444c4e  ;
  display: none;
  font-weight: bolder;
  /* transform: rotateY(180deg); */
}
.flip-card-back a{
  text-align: left;
  color: black;
  font-size: 15px;
  text-decoration: none;
}

/*
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
  transition-delay: 200ms;
}*/
/*==============================================*/

/*stage 5*/
/* .parallax {
  perspective: 6px; 
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;

}
.parallax__layer {
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
} */

.parallax-base,.parallax-base:focus h1{
  /* transform: translateZ(0px) translateY(-0.1vw) scale(1); */
  background-color: #f1f1f1;
  opacity: .8; 
  width: 90%;
  margin: auto;
}
.parallax-back,.parallax-back:focus-within p{
  opacity: 0.3;
  /* transform: translateZ(-6px) translateY(-180px) scale(2.8); */
}
.parallax-back img{
  filter: brightness(150%);
}

#dis {
  font-size: 15px;
  color: #524039fd;
  font-family: Arvo, sans-serif;
  display: grid;
  justify-content: center;
  text-align: center;
  grid-template-columns: 80%;
  grid-template-rows: 0.1fr 0.3fr 1fr;
  row-gap: 30px;

}
#dis p {

  text-align: left;
  grid-row: 1;
}
.dis-img{
  text-align: center;
  grid-row: 2;
  
}
.news-text{
  text-align: left;
  grid-row: 3;
}

#img-text{
  position: absolute;
  top: 350px;
  right: 150px;
  text-align: center;
  color: #faf3de
  ;
}




/*story*/
#story {
  font-size: 15px;
  color: #524039fd;
  font-family: Arvo, sans-serif;
  width: 70%;
  margin: 1.5em auto 0em;

}

#sp1,#sp2,#sp3,#sp4{
  text-align: left;
  margin-top: 2.5em;
  margin-bottom: 2.5em;
}
.photoslides2, .photoslides1, .photoslides3{
  text-align: center;
  border: #76323F 3px solid ;
  border-radius: 1px;
  height: 270px;
}
.story-img1>img,.story-img2>img,.story-img3>img{
  width: auto;
  height: 220px;
  margin-top: 10px;

}

.left_button ,.right_button{
  background-color: #ac7456
  ;
  border:  black 1px solid ;
  border-radius: 5px;
}


/*==========================================*/
/* tablet*/
@media screen and (min-width: 850px){
  body{
    font-size: 19px;
}
h1{
  margin-bottom: 20px;
  margin-top: 10px;
  font-size: 35px;
}
a{
  font-size: 19px;
}
#if,#dis,#breed,#story{
  font-size: 19px;
}
  nav{
    width: 100%;
    
  }
  nav ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
    justify-content: center;
    align-items:center;
    text-align:center;
  
  
  }
  nav li:nth-child(1){
    grid-column: 1/ span 1;
  }
  nav li:nth-child(2){
    grid-column: 3/ span 1;
  }
  nav li:nth-child(3){
    grid-column: 5/ span 1;
  }
  nav li:nth-child(4){
    grid-column: 2/ span 1;
  }
  nav li:nth-child(5){
    grid-column: 4/ span 1;
  }
  #home-image-gallery div{
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    justify-items: center;
}
#home-image-gallery div img{
   width: 70%;
   
}
  
  .dogs{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: baseline;
  }
  .dogs>div{
    flex-basis: 400px;
  }
  

  .home-image{

    width: 650px;
  }
 /* story */ 
  #story { 
    width:100%;
    display: grid;
    justify-items: center;
    grid-template-columns: 7% 40% 6% 40% 7%;
    grid-template-rows: 0.3fr 0.6fr 0.8fr 0.8fr;
  }
  
  #story>p{
    border: #76323F 1px dashed;
    padding: 1em;
  }
  #sp1{
    grid-column: 2 / span 3;
    grid-row: 1;
  }

  #sp2{ 
    grid-column: 2;
    grid-row: 2;
  }
  .photoslides1{
    grid-column: 4; 
    grid-row: 2;
  }
  .photoslides2{
    grid-column: 2;
    grid-row: 3;
  }
  #sp3{
    grid-column: 4;
    grid-row: 3;
  }
  .photoslides3{
    grid-column: 4;
    grid-row: 4;
  }
  #sp4{
    grid-column: 2;
    grid-row: 4;
  }

  .photoslides2, .photoslides1, .photoslides3{
    height: 300px;
    align-self: stretch;
    place-self: center;
  }
  .story-img1>img,.story-img2>img,.story-img3>img{
    width: 400px;
    height: 250px;
  }
  .parallax {
    perspective: 6px; 
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
  
  }
  .parallax__layer {
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .parallax-base, .parallax-base:focus-within h1 {
    margin: auto;
    transform: translateZ(0px) translateY(-8vw) scale(1);
  }
  .parallax-back,.parallax-back:focus-within p{
    transform: translateZ(-6px) translateX(120px) translateY(50px) scale(2.8);;
    /* transform:  translateY(-180px) scale(2.8); */

    margin: auto;
  }
  
 /* ======================================================== */ 
header:not(div>header){
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

a:hover, a:focus{
  color:#faf3de;
  text-decoration: underline;
  text-decoration-style: wavy;
}

#active{
  background-color: burlywood;
  text-transform: uppercase;
  border-radius: 5px;
}
.flip-card-front>button{
  display: none;
}

.flip-card-back {
  top: 15%;
  /* Style the back side */
  color: #444c4e  ;
  display: block;
  transform: rotateY(180deg);
}
.flip-card-back a:focus, .flip-card-back a:hover{
  color:black;
  text-decoration: underline;  
  text-decoration-style: solid;
}

.flip-card:hover .flip-card-inner, .flip-card:focus-within .flip-card-inner{
  /* Do an horizontal fli
p when you move the mouse over the flip box container */
  transform: rotateY(180deg);
  transition-delay: 200ms;
}
}

@media screen and (min-width: 1200px){

  h1{
    font-size:40px;
    margin-bottom: 40px;
    margin-top: 20px;
  }
  nav ul{
    padding-top: 20px;
    grid-column-gap: 10vw;
    grid-template-columns: auto auto auto auto auto;

  }
  nav li:nth-child(1){
      grid-column: 1;
  }
  nav li:nth-child(2){
      grid-column: 2;
  }
  nav li:nth-child(3){
      grid-column: 3;
  }
  nav li:nth-child(4){
      grid-column: 4;
  }
  nav li:nth-child(5){
      grid-column: 5;
  }
  .photoslides2, .photoslides1, .photoslides3{
    height: 400px;
  }
  .story-img1>img,.story-img2>img,.story-img3>img{
    width: 530px;
    height: 350px;
  }
  #home-image-gallery div{
    grid-template-columns: 1fr 1fr 1fr;
}
.parallax-base {
  margin: auto;

  transform: translateZ(0px) translateY(-5vw) scale(1);
}
.parallax-back img{
  transform: translateX(250px) scale(1.25);
  margin: auto;
}
}

@media screen and (prefers-reduced-motion: reduce){
.flip-card-inner{
    animation: none;
 }

 h2, h1,main, .sidebar{
     animation: none;
 }
 html{
  scroll-behavior: auto; 
}
 body{
  background-attachment: initial;
}
.skip a{
  transition: none;
}

.flip-card-inner{
  transition: none;
}
.flip-card-back {
  display: block;
}
.flip-card-front{
  display: none;
}
.parallax, .parallax-base,.parallax-back{
  transform:none;
}

}

